@charset "UTF-8";
html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  font-family: "Noto Serif JP", serif;
  font-size: 1.6rem;
  line-height: 2.1;
  color: #797e81;
  margin: 0;
  padding: 0%;
  /* 全体を中央寄せ */
  text-align: center;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

section {
  background-color: #fff;
}

/* ヘッダ */
header {
  width: 100%;
  /* top0の位置にヘッダーを固定 */
  position: fixed;
  top: 0;
  /* このままでは、スクロールした際にsectionが重なってしまうので、z座標を指定※数値が大きいほど上になる */
  z-index: 10;
  background-color: #fff;
  /* box-shadow:X軸 Y軸 ぼかし 影のサイズ 色; */
  box-shadow: 0 6px 3px -3px rgba(0, 0, 0, 0.1);
}

header .inner {
  height: 100px;
  /* 子要素を横並びに */
  display: flex;
  /* 最初と最後の子要素を両端に配置し、残りの要素は均等間隔で配置 */
  justify-content: space-between;
  /* 上下中央揃え */
  align-items: center;
}

header ul {
  /* 子要素を横並びに */
  display: flex;
  /* 幅に折り返して表示 */
  /* flex-wrap: wrap; */
}

header a {
  font-size: 1.5rem;
  color: #2e4551;
  margin: 0 0 0 50px;
  letter-spacing: 0.3em;
}

header a:hover {
  color: orange;
  font-weight: 600;
}

header .logo {
  color: #2e4551;
  font-size: 8rem;
}

/* キービジュアル */
#kv {
  width: 100%;
  height: 712px;
  /* 固定 */
  position: fixed;
  /* ヘッダーの分スペースをあける */
  top: 100px;
  /* 背景画像の指定                 繰り返しなし 中央 上端合わせ 配置方法 */
  background: url(./images/kv.png) no-repeat center top / cover;
}

/* フッター */
footer {
  padding: 120px 0 0 0;
  position: relative;
  background: #1d2326;
}

footer a {
  color: #ea7558;
}

footer .logo {
  color: #d4dde2;
  font-size: 11rem;
}
footer .wrap-blk {
  margin-bottom: 120px;
  /* 子要素を横並びに */
  display: flex;
}

footer .wrap-blk p {
  font-size: 1.5rem;
  line-height: 2.3;
  color: #d4dde2;
  width: 50%;
  margin: 0 25px;
  text-align: right;
}

footer ul {
  font-size: 2.2rem;
  line-height: 1.5;
  color: #d4dde2;
  letter-spacing: 0.05em;
  width: 50%;
  margin: 0 25px;
  text-align: left;
}

footer i {
  margin-right: 0.3rem;
}

.copyright {
  font-size: 1.5rem;
  color: #d4dde2;
  letter-spacing: 0.05em;
  padding: 60px 0;
  background: #111619;
}

/* about いらっしゃいませ〜〜お箸の文化*/
#about {
  margin-top: 812px;
  padding: 65px 0;
}

#about h1 {
  color: #2e4551;
}
/* 詳しくはこちら */
#about .btn a {
  font-size: 1.5rem;
  line-height: 38px;
  /* 改行がない文章で、paddingで指定するのと、line-heightで指定することの差異 */
  /* 文章が長い場合はline-heightで指定するのが必須、paddinngでもできるっちゃできるが、line-heightのほうがよい */
  color: #ea7558;
  width: 140px;
  height: 42px;
  border: 2px solid #ea7558;
  /* paddingとborderの幅をwidthとheightに含む */
  box-sizing: border-box;
  display: inline-block;
  border-radius: 21px;
}

#about .lead {
  margin: 0 0 65px;
}

#about .wrap-blk {
  display: flex;
}

#about .contents-blk {
  width: 320px;
  height: 200px;
  border: 1px solid white;
  margin: 5px;
}

#about h2 {
  font-size: 2.4rem;
  font-size: 2rem;
  color: #2e4551;
  letter-spacing: 0.1em;
}

#about .contents-blk#sai h2::before {
  display: block;
  content: url(./images/ico01.png);
}

#about .contents-blk#kisetu h2::before {
  display: block;
  content: url(./images/ico02.png);
}

#about .contents-blk#ohashi h2::before {
  display: block;
  content: url(./images/ico03.png);
}

#about .btn i {
  margin: 0 0 0 0.3em;
}

/* feature 特徴紹介 */
#feature {
  /* 子要素を横並びに */
  display: flex;
  background: #1d2326;
}

/* 左側の画像 */
#feature .feature-image {
  width: 50%;
  /* ?imgタグで直接やらない理由は */
  /* → HTMLのimgタグを使うと、のちの管理が面倒になり、保守性が下がるのでCSSから設定することを統一したほうが良い */
  /* → どっちかしかXXができない、みたいなことはない */
  background: url(./images/photo_sec02.png) no-repeat center bottom / cover;
}

/* 右側の文章 */
#feature .feature-text {
  width: 50%;
  padding: 90px 0 90px 100px;
  box-sizing: border-box;
  text-align: left;
}

/* 丸いやつ */
#feature h2 {
  font-size: 2.4rem;
  line-height: 1.3;
  font-weight: normal;
  letter-spacing: 0.05em;
  width: 90px;
  height: 90px;
  margin: 0 20px 0 0;
  border: 1px solid #cfd5d8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#feature h2 span {
  font-size: 1.2rem;
}

#feature h1 {
  line-height: 1.3;
  color: #fff;
  letter-spacing: 0.1em;
  margin: 0 0 20px;
}

#feature .lead {
  font-size: 2.2rem;
  line-height: 1.3;
  color: #cfd5d8;
}

#feature .contents-blk {
  color: #cfd5d8;
  margin: 80px 0 0;
}

/* menu  料理のメニュー*/
#menu {
  padding: 120px 0 20px;
}

#menu .inner {
  width: 1054px;
}

#menu h1 {
  color: #2e4551;
  margin: 0 0 80px;
}

/* メニューのリスト */
#menu ul {
  margin: 0 0 110px;
  /* 横並びに */
  display: flex;
  /* 中央揃え */
  justify-content: center;
}

#menu li {
  font-weight: 600;
  /* フォントを作る場合、フォントのサイズを最大９段階で作れる
  ９００：太い
  ４００：標準★これがnormal
  １００：細い
  ※ただし、９段階のサイズを対応しているフォントはほぼない

  normalやboldはいくつ？
  指定したフォントの仕様(用意されているサイズ)で変わる
  */
  margin: 0 25px;
  letter-spacing: 0.3em;
}

/* メニュー一覧のブロック */
#menu .item-blk {
  /* 横並びに */
  display: flex;
}

#menu h2 {
  font-size: 1.5rem;
  color: #2e4551;
  letter-spacing: 0.05em;
  margin: 0 0 10px;
}

#menu .text {
  font-size: 1.5rem;
  margin: 0 0 20px;
}

#menu .price {
  font-size: 2.2rem;
  color: #2e4551;
  font-weight: 600;
  letter-spacing: 0.1em;
}

#menu .lead {
  margin: 0 0 65px;
}

#menu .item {
  width: 233px;
  padding: 136px 0 20px;
  margin: 0 15px 100px;
  border: 2px solid #752727;
  box-sizing: border-box;
  position: relative;
}

/* メニューの画像  pタグ */
#menu .item .photo {
  width: 160px;
  height: 160px;
  position: absolute;
  top: -60px;
  left: 38px;
}

/* メニューの画像 */
#menu .item .photo img {
  border-radius: 50%;
}

/* reservation 予約のとこ */
#reservation {
  color: #fff !important;
  padding: 100px 0;
  position: relative;
  background: url(./images/photo_sec04.png) no-repeat center center / cover;
}

/* 予約のところにマットを敷く */
#reservation::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  /* 内容は空だが、content自体は必須 */
  content: "";
}

#reservation h1 {
  letter-spacing: 0.1em;
  /* 以下2つはマットの上に要素を持ってくるために設定 */
  position: relative;
  z-index: 1;
}

#reservation h1::before {
  display: block;
  content: url(./images/ico04.png);
}

#reservation .btn a {
  line-height: 44px;
  color: #fff;
  width: 220px;
  height: 44px;
  /* inline → inline-blockにし、幅と高さをもたせる */
  display: inline-block;
  background: #ea7558;
  border-radius: 3px;
}

#reservation p {
  position: relative;
  z-index: 1;
}

/* ナビバー */
.inner {
  width: 1024px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
}

/* 各要素 */
section {
  position: relative;
}

section h1 {
  font-size: 3.8rem;
  margin: 0 0 65px; /*上 左右 下*/
}
